# System files
.DS_Store
Thumbs.db

# Generated directories
build/
lib/
bin/

# Generated compiler files
CMakeCache.txt
CMakeScripts/
CMakeFiles/
Testing/
*.cmake
*.ninja*

# Prerequisites and dependencies
*.d

# Compiled static libraries
*.a
*.lib

# Compiled dynamic libraries
*.so
*.dll
*.dylib

# Compiled assembly and IR files
*.s
*.bc
*.ll

# Compiled object files
*.o
*.obj

# Generated data files
*.png
*.dot
*.out